.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin: 2rem 1rem;
  h1 {
    margin-top: 1rem;
    font-size: 2rem;
  }
}

.formWrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 1.5rem;

  @media only screen and (min-width: 728px) {
    flex-direction: row;
    padding: 3rem;
  }

  img {
    width: 200px;

    @media only screen and (min-width: 480px) {
      width: 300px;
    }

    @media only screen and (min-width: 900px) {
      width: 400px;
    }
  }
}

.inputContainer {
  display: flex;
  flex-direction: column;

  label {
    font-size: large;
    padding-bottom: 4px;
  }

  input {
    padding: 6px 8px;
    width: 200px;
    margin-bottom: 16px;

    @media only screen and (min-width: 480px) {
      width: 300px;
    }

    @media only screen and (min-width: 900px) {
      width: 400px;
    }
  }
}

.errorMsg {
  color: red;
  margin-bottom: 0.5rem;
}
