.btn {
  color: white;
  text-align: center;
  padding: 8px 16px;
  border-radius: 95px;
  background-color: inherit;
  border: 1px white solid;
  font-weight: bold;
  outline: 0 solid transparent;
  &:hover {
    cursor: pointer;
  }
}

.btnClicked {
  background-color: darkgray;
}
