.btn {
  color: white;
  text-align: center;
  padding: 8px 16px;
  border-radius: 95px;
  background-color: inherit;
  border: 1px white solid;
  font-weight: 600;
  outline: 0 solid transparent;
  font-size: 14px;
  &:hover {
    cursor: pointer;
  }
}

.btnClicked {
  background-color: lightgrey;
  color: black;
}
