.btn {
  color: white;
  text-align: center;
  padding: 6px 16px;
  border-radius: 95px;
  background-color: inherit;
  border: 1px white solid;
  font-weight: 500;
  outline: 0 solid transparent;
}

.btnClicked {
  background-color: darkgray;
}
