@use '../../scss/colors' as c;

.imageWrapper {
  position: relative;
  border-radius: 6px;
  box-shadow: 3px 3px c.$colorAccentGrey;
  overflow: hidden;
  margin: 10px;
}

.image {
  aspect-ratio: 4/3;
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 6px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 10px;
}

.imageWrapper:hover .overlay {
  opacity: 1;
}

.imageWrapper:hover .image {
  opacity: 0.5;
}

@media (hover: none) {
  .imageWrapper:focus .overlay {
    opacity: 1;
  }

  .imageWrapper:focus .image {
    opacity: 0.5;
  }
}

.textWrapper {
  color: c.$colorWhite;
  text-align: center;
  max-width: 90%;
  .title {
    font-weight: 800;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &.title:after {
      content: '';
      display: block;
      margin: 0 auto;
      width: 90px;
      padding-top: 10px;
      border-bottom: 3px solid c.$colorWhite;
    }
  }
  .author {
    font-style: italic;
    font-weight: 500;
    padding-top: 8px;
  }
}
