.container {
  position: relative;
  border-radius: 10px;
  box-shadow: 3px 3px #d1d3d2;
}

.image {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.overlay {
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.container:hover .overlay {
  opacity: 1;
}

.container:hover .image {
  opacity: 0.5;
}

.textWrapper {
  color: white;
  text-align: center;
  .title {
    font-weight: 800;

    &.title:after {
      content: '';
      display: block;
      margin: 0 auto;
      width: 90px;
      padding-top: 10px;
      border-bottom: 3px solid #fff;
    }
  }
  .author {
    font-style: italic;
    font-weight: 500;
    padding-top: 8px;
  }
}
