@use '../../scss/colors' as c;

.userPages {
  display: flex;
  justify-content: flex-end;
  padding: 5px;

  a {
    margin-right: 15px;
    text-decoration: none;
    color: c.$colorBlack;

    &:hover,
    &:active {
      cursor: pointer;
      color: c.$colorBgHero;
    }
  }
}
