@use '../../scss/colors' as c;

.searchWrapper {
  width: 95%;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  background-color: c.$colorWhite;

  @media only screen and (min-width: 728px) {
    width: 80%;
  }

  @media only screen and (min-width: 1200px) {
    width: 55%;
  }

  svg {
    font-size: 2rem;
    margin-left: 10px;
    color: c.$colorAccentGrey;
  }
  input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    padding: 14px 4px;
  }
}
