@use '../../scss/colors' as c;

.searchWrapper {
  //position: relative;
  width: 100%;
  border: 2px solid black;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: white;

  @media only screen and (min-width: 728px) {
    width: 80%;
  }

  @media only screen and (min-width: 1200px) {
    width: 60%;
  }

  svg {
    //position: absolute;
    //left: 2px;
    //top: 6px;
    font-size: 2rem;
    margin-left: 10px;
  }
  input {
    //padding: 8px 22px;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    //background-color: inherit;
    //border-radius: 6px;
    //box-shadow: 3px 3px c.$colorActiveElement;
  }
}
