$colorWhite: #ffffff;
$colorBlack: #000000;
$colorAccentGrey: #d1d3d2;
$colorActiveElement: #d3d3d3;
$colorError: #ff0000;

$colorAccentOrange: #ebac96;
$colorHover: #ffb788;
$colorBgHero: #edc69c;

$colorTextBlue: #3236fd;
