@use '../../scss/colors' as c;

.navContainer {
  border-bottom: 1px solid c.$colorAccentGrey;
  padding: 8px 4px;
  display: flex;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;

    img {
      width: 60px;
    }
    h2 {
      display: none;
    }

    @media only screen and (min-width: 480px) {
      justify-content: space-around;
    }

    @media only screen and (min-width: 728px) {
      justify-content: space-around;
      h2 {
        display: block;
      }
    }

    @media only screen and (min-width: 1200px) {
      justify-content: space-around;
      h2 {
        display: block;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
